
{% extends "app/layout.html" %}
{% load static %}
{% block content %}

    <div class="jumbotron feature">
		<div class="container">
		
		    <div id="feature-carousel" class="carousel slide" data-ride="carousel">
			    <ol class="carousel-indicators">
			        <li data-target="#feature-carousel" data-slide-to="0" class="active"></li>
			        <li data-target="#feature-carousel" data-slide-to="1"></li>
			    </ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<a href="#">
                    	<img class="img-responsive" src="{% static 'app/images/slide.jpg' %}" alt="">
                	</a>
                	<div class="carousel-caption">
						<h3></h3>
						<p>Facial recognition – fascinating and intriguing</p>
					</div>
				</div>
				<div class="item">
					<a href="#">
                    	<img class="img-responsive" src="{% static 'app/images/slide2.jpg' %}" alt="">
                	</a>
                	<div class="carousel-caption">
						<h3></h3>
						<p>Face the future</p>
					</div>
				</div>		  
			</div>
			<a class="left carousel-control" href="#feature-carousel" role="button" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#feature-carousel" role="button" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
		</div>
	</div>

    <!-- Content -->
    <div class="container">
        <!-- Page Intro -->
         <div class="row page-intro">
            <div class="col-lg-12">
			    <div style="text-align:justify">
                <h1>Face recognition system </h1>
				<p>The human face plays an important role in our social interaction,
					conveying people’s identity. Using the human face as a key to security, 
					biometric face recognition technology has received significant attention 
					in the past several years due to its potential for a wide variety of 
					applications in both law enforcement and non-law enforcement.
				<br></p><p>
					As compared with other biometrics systems using fingerprint/palmprint and iris,
					face recognition has distinct advantages because of its non-contact process.
					Face images can be captured from a distance without touching the person 
					being identified, and the identification does not require interacting with the person.
					In addition, face recognition serves the crime deterrent purpose because face
					images that have been recorded and archived can later help identify a person.
				<br></p>
					<h2>How face recognition works?</h2>
					<p>
					Facial recognition is the process of identifying or verifying the identity 
					of a person using their face. It captures, analyzes and compares patterns 
					based on the person's facial details.<br>
					<ul>
					<li>
					The face detection process is an essential step as it 
					detects and locates human faces in images and videos.</li>
					<li>
					The face capture process transforms an analog information (a face) 
					into a set of digital information (data) based on the person's facial features.</li>
					<li>
					The face match process verifies if two faces belong to the same person.</li>
					</ul>
					Today it's considered to be the most natural of all biometric measurements. 
					</p>
					<h2>Access Control & Security</h2>
					<p>
					Swapping RFID cards, time-stamps and the traditional keys for biometrics 
					like facial recognition means better security for buildings.
					Physical keys and access cards can be loaned, lost or copied,
					creating a potential security hole. On the other hand, 
					you can always forget your wallet or your keys at home, but not your face!<br></p>
					<p>
					Should an employee or resident leave the premises, using biometrics simply 
					means removing their data from the system, rather than making sure a physical
					access key is returned. This not only saves time but also reduces management costs.<br></p>
					<p>
					Although cameras are already frequently used to monitor for theft or break-ins, 
					traditional CCTV systems lack the intelligence required for detecting potential 
					intruders and automatically alerting building security about them. With their
					real-time motion sensing, facial recognition, and object detection capabilities, 
					the latest generation of smart cameras, combined with edge computing systems that
					carry out real-time data processing and analysis, is making the development and
					deployment of these intelligent preemptive security applications at scale possible for the first time.</p>
				</div>
        </div>
        <!-- /.row -->
     </div>
    </div>
    <!-- /.container -->

{% endblock %}
	